body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-weight: 400;
	font-size: 18px;
	background-color:black ;
    color: white;
    color-interpolation-filters: sRGB;
    overflow-y: scroll;
	overflow-x: hidden;
}
.oneb{
    list-style: none;
}
.oneb li{
    width:100%;
    height:100%;
    position: absolute;
    top: 0px;
    left:0px;
    z-index:0;
    color: transparent;
    background-repeat: no-repeat;

    background-position: center;
	height: 700px ;
    opacity:0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation: imageAnimation 25s linear infinite 0s;
    -o-animation: imageAnimation 25s linear infinite 0s;
    -moz-animation: imageAnimation 25s linear infinite 0s;
    -ms-animation: imageAnimation 25s linear infinite 0s;
    animation: imageAnimation 25s linear infinite 0s;
}
.oneb li:nth-child(1){
    background-color: black;
}
.oneb li:nth-child(2){
    background-image: url("../image/donut.gif");
    background-size:12.5cm;
    -webkit-animation-delay: 2s;
    -o-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -ms-animation-delay: 2s;
    animation-delay: 2s; 
}
.oneb li:nth-child(3) { 
    background-color: black;
    -webkit-animation-delay: 17s;
    -o-animation-delay: 17s;
    -moz-animation-delay: 17s;
    -ms-animation-delay: 17s;
    animation-delay: 17s; 
}
.oneb,
.oneb:after {
    position:fixed;
    width:100%;
    height:100%;
    top: 0px;
    left:0px;
    z-index:0;
}
@keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    transform: scale(1.10);
	}
	16% {
	    opacity: 1;
	    transform: scale(1.15);
	}
	24% {
	    opacity: 1;
	    transform: scale(1.20);
	}
    32% {
        opacity: 1;
        transform: scale(1.25);
    }
    40%{
        opacity: 1;
        transfrom: scale(1.30);
    }
	100% { opacity: 0 }
}
h1 {
    color: yellow;
    font-size: 2rem;
    
}
h2 {
    overflow:hidden;
    position:relative;
    color: white;
    
}
h2:after{
    content:"";
    display: block;
    height:2px;
    width:75%;
    background: white;
    position: absolute;
    left:100px;
    top:50%
}
p{
    color:white;
}
.tm-content {
    z-index: 1001;
}
#cb-slideshow-text-container {
    height: 100vh;
    display: flex;
    align-items:center;
}

.footer-link {
    margin: 10px;
	font-size: 11px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    text-align:right;
    width:80%;
}


.fa {
    margin-left: 10px;
    color: #FFFFFF;
}
/*
.cb-slideshow li {
    width:100%;
    height:100%;
    position: absolute;
    top: 0px;
    left:0px;
    z-index:0;
    color: transparent;
    background-size: cover;
    background-repeat: none;
    background-position: 50% 50%;
    opacity:0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation: imageAnimation 40s linear infinite 0s;
    -o-animation: imageAnimation 40s linear infinite 0s;
    -moz-animation: imageAnimation 40s linear infinite 0s;
    -ms-animation: imageAnimation 40s linear infinite 0s;
    animation: imageAnimation 40s linear infinite 0s;
}

.cb-slideshow li:nth-child(1) { 
    background-image: url(../image/IMG_3208.jpg);
}
.cb-slideshow li:nth-child(2) { 
    background-image: url(../image/IMG_3209.jpg);
    -webkit-animation-delay: 8s;
    -o-animation-delay: 8s;
    -moz-animation-delay: 8s;
    -ms-animation-delay: 8s;
    animation-delay: 8s; 
}
.cb-slideshow li:nth-child(3) { 
    background-image: url(../image/IMG_3212.jpg);
    -webkit-animation-delay: 16s;
    -o-animation-delay: 16s;
    -moz-animation-delay: 16s;
    -ms-animation-delay: 16s;
    animation-delay: 16s; 
}
.cb-slideshow li:nth-child(4) { 
    background-image: url(../image/IMG_3207.jpg);
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(5) { 
    background-image: url(../image/IMG_3211.jpg);
    animation-delay: 32s; 
}

@keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    animation-timing-function: ease-in;
	}
	5% {
	    opacity: 1;
	    transform: scale(1.10);
	    animation-timing-function: ease-out;
	}
	10% {
	    opacity: 1;
	    transform: scale(1.15);
	}
	15% {
	    opacity: 1;
	    transform: scale(1.20);
	}
    20% {
        opacity: 0;
        transform: scale(1.25);
    }
    25%{
        opacity: 0;
        transfrom: scale(1.35);
    }
	100% { opacity: 0 }
}
@media screen and (max-width: 1140px) { 
    .cb-slideshow li div h3{ font-size: 140px }
}
@media screen and (max-width: 600px) { 
    .cb-slideshow li div h3{ font-size: 80px }
	.tm-content {
		margin-top: 80px;
	}
}

@media screen and (max-width: 576px) { 
    .cb-slideshow li div h3{ font-size: 80px }
	
	.tm-btn-subscribe {
		margin-top: 20px;
	}
}

