body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-weight: 400;
	font-size: 18px;
    background: #000;
    lighting-color:rgb(137, 125, 243);
    color-interpolation-filters: sRGB;
	overflow-y: scroll;
	overflow-x: hidden;
    right:100;
}
h1 {
    color: yellow;
    font-size: 2rem;
}
h2 {
    overflow:hidden;
    position:relative;
    color: white;
    
}
h2:after{
    content:"";
    display: block;
    height:2px;
    width:75%;
    background: white;
    position: absolute;
    left:100px;
    top:50%
}
p{
    color:black;
}

#cb-slideshow-text-container {
    height: 100vh;
    display: flex;
    align-items: center;
}
.tm-content {
    z-index: 1001;
}
.footer-link {
    margin: 20px;
	font-size: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    text-align:center;
    width:100%;
    z-index: 1001;
}

.cb-slideshow,
.cb-slideshow:after {
    position:fixed;
    width:100%;
    height:100%;
    top: 0px;
    left:0px;
    z-index:0;
}
.cb-slideshow li {
    width:100%;
    height:100%;
    position: absolute;
    top: 0px;
    left:0px;
    z-index:0;
    color: transparent;
    background-size: cover;
    background-repeat: none;
    background-position: 50% 50%;
    opacity:0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation: imageAnimation 40s linear infinite 0s;
    -o-animation: imageAnimation 40s linear infinite 0s;
    -moz-animation: imageAnimation 40s linear infinite 0s;
    -ms-animation: imageAnimation 40s linear infinite 0s;
    animation: imageAnimation 40s linear infinite 0s;
}

.cb-slideshow li:nth-child(1) { 
    background-image: url(../image/IMG_3208.jpg);
}
.cb-slideshow li:nth-child(2) { 
    background-image: url(../image/IMG_3209.jpg);
    -webkit-animation-delay: 8s;
    -o-animation-delay: 8s;
    -moz-animation-delay: 8s;
    -ms-animation-delay: 8s;
    animation-delay: 8s; 
}
.cb-slideshow li:nth-child(3) { 
    background-image: url(../image/IMG_3212.jpg);
    -webkit-animation-delay: 16s;
    -o-animation-delay: 16s;
    -moz-animation-delay: 16s;
    -ms-animation-delay: 16s;
    animation-delay: 16s; 
}
.cb-slideshow li:nth-child(4) { 
    background-image: url(../image/IMG_3207.jpg);
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(5) { 
    background-image: url(../image/IMG_3211.jpg);
    animation-delay: 32s; 
}

@keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    animation-timing-function: ease-in;
	}
	5% {
	    opacity: 1;
	    transform: scale(1.10);
	    animation-timing-function: ease-out;
	}
	10% {
	    opacity: 1;
	    transform: scale(1.15);
	}
	15% {
	    opacity: 1;
	    transform: scale(1.20);
	}
    20% {
        opacity: 0;
        transform: scale(1.25);
    }
    25%{
        opacity: 0;
        transfrom: scale(1.35);
    }
	100% { opacity: 0 }
}
@media screen and (max-width: 1140px) { 
    .cb-slideshow li div h3{ font-size: 140px }
}
@media screen and (max-width: 600px) { 
    .cb-slideshow li div h3{ font-size: 80px }
	.tm-content {
		margin-top: 80px;
	}
}

@media screen and (max-width: 576px) { 
    .cb-slideshow li div h3{ font-size: 80px }
	
	.tm-btn-subscribe {
		margin-top: 20px;
	}
}
